.title h2 {
    color: #fe980f;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 700;
    margin: 0 auto 30px;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    z-index: 3;
}
.title.contact-title h2:after,
h2.title:after {
    content: " ";
    position: absolute;
    border: 2px solid #ebebeb;
    bottom: 8px;
    left: 0;
    width: 100%;
    height: 0;
    z-index: -2;
}
.title.contact-title h2:before {
    content: " ";
    position: absolute;
    background: #fff;
    bottom: -6px;
    width: 230px;
    height: 30px;
    z-index: -1;
    left: 50%;
    transform: translateX(-50%);
    margin-left: 0;
}
.title {
    position: relative;
}
.bottom {
    padding-top: 50%;
}
.contact-form,
.contact-info {
    margin: 20px;
}
.title.contact-form h2:before {
    width: 140px;
}
.form-control:focus {
    box-shadow: none;
    border: 1px solid #fe980f;
}
.form-control:hover {
    border: 1px solid #fe980f;
}
.btn-submit {
    color: #fff;
    background-color: #fe980f;
    border: 0;
}
.btn-submit.btn:hover {
    background-color: #fc5c00 !important;
}
.btn-submit:focus {
    box-shadow: none;
}
.contact-info p {
    margin-bottom: 0;
    color: #696763;
    font-size: 16px;
    line-height: 25px;
}
address {
    font-style: revert;
}
.nav-item a {
    border: 0 none;
    border-radius: 0;
    color: #696763;
    padding: 0px;
}

.nav-item {
    display: inline-block;
}

.nav-item a i {
    padding: 11px 15px;
    transition: all 0.9s ease 0s;
    -moz-transition: all 0.9s ease 0s;
    -webkit-transition: all 0.9s ease 0s;
    -o-transition: all 0.9s ease 0s;
}

.nav-item a i:hover {
    color: #fff;
    transition: all 0.9s ease 0s;
    -moz-transition: all 0.9s ease 0s;
    -webkit-transition: all 0.9s ease 0s;
    -o-transition: all 0.9s ease 0s;
}

.fa-facebook:hover {
    background: #0083c9;
}

.fa-twitter:hover {
    background: #5bbcec;
}

.fa-linkedin:hover {
    background: #ff4518;
}
.fa-zalo:hover {
    background-color: rgb(13, 166, 255);
}
.fa-youtb:hover {
    background-color: rgb(255, 0, 0);
}

.fa-google-plus:hover {
    background: #ce3c2d;
}

.fa-zalo i::after {
    content: "lO";
    color: rgba(255, 255, 255, 0);
    background-image: url("../../../../../src/image/icon/zalo-default.png");
    background-repeat: no-repeat;
    background-size: contain;
    transition: 0.9s all;
}
.fa-zalo {
    transition: 0.9s;
}

.fa-zalo:hover i::after {
    background-image: url("../../../../../src/image/icon/zalo-hover.png");
}
.fa-youtb {
    transition: 0.9s;
}
